<div class="row">
    <div class="col-xs-12"> 
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 10px;">
                <h2 style="margin: 15px;">{{contact.name}}</h2>
                <div style="padding: 5px; display: flex; justify-content: space-between; align-items: center;">
                    <img [src]="contact.imageUrl" style="max-height: 120px;">
                    <div class="btn-toolbar">
                        <a class="btn btn-primary" routerLink="edit">Edit</a>
                        <a class="btn btn-danger" (click)="onDelete()">Delete</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p><b>Email:</b> {{contact.email}}</p>
                <p><b>Phone:</b> {{contact.phone}}</p>
            </div>
        </div>
    </div>
</div>
