

<div class="row">
    <div class="col-xs-12"> 
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <h2 class="" style="margin: 10px;">Contacts</h2>
                    <span class=""><button class="btn btn-success">New Contact</button></span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="" class="list-group-item clearfix" *ngFor="let contact of contacts">
                            <div class="pull-left">
                                <h3 class="list-group-item-heading">{{contact.name}}</h3>
                                <!--<p class="list-group-item-text">{{contact.email}}</p>
                                <p class="list-group-item-text">{{contact.phone}}</p>-->
                            </div>
                            <span class="pull-right">
                                <img class="img-responsive" [src]="contact.imageUrl" alt="A Photo of XXX" style="max-height: 80px;">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
