

<div class="row">
    <div class="col-xs-12"> 
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span class="title pull-left">Contacts</span>
                    <span class=""><a class="btn btn-success" routerLink="new">New Contact</a></span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- <a> tag was here-->
                            <cms-contact-item *ngFor = "let contact of contacts" [contact] = "contact" (click) = "onContactSelected(contact)" (dragstart) = "startDrag(contact)"></cms-contact-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
