<div class="row">
    <div class="col-xs-12"> 
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span class="title pull-left">Add Documents</span>
                    <span class=""><button class="btn btn-success">New Document</button></span>
                </div>
            </div>
            <div class="panel-body">
                <div class="center-panel">
                    <cms-document-item></cms-document-item>
                </div>
            </div>
        </div>
    </div>
</div>
